.banner-top{
  background-color: #FFA766;
  text-align:center;

  img{
    max-width: 75%;
  }
}

.banner-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}