.buyButton{
  display: none;
  color: white;
  border-radius: 25px;
  background-color: #EF6B00;
  border-width: 0px;  
  height: 33px;
  width: 113px;
}

@media screen and (max-width: 767px) {
  .buyButton{
    display: unset;
  }
}
