@media screen and (max-width: 767px) {
  .menu-bar {
    place-content: center;

    .logo{
      width: 98px;
    }

    .forms {
      display: flex;
      position: fixed;
      bottom: 0;
      padding-left: 0;
      background-color: #ef6b00;
      width: 100%;
      z-index: 9999;
      height: 50px;
      align-items: stretch;
      margin: 0;

      >*+*{
        margin: 0;
      }

      & li {
        display: flex;
        padding: .4em;
        flex: 1;
        justify-content: center;
        align-items: center;
        position: relative;
        
        & img{
          width: 20px;
        }
      }

      & .menuMobile{
          display: flex!important;
          margin-top: 5px;
        
        &:after {
          position: absolute;
          content: '';
          top: 100%;
          bottom: 0;
          width: 100%;
          transition: ease-in-out .2s;
        }

        & img{
          filter: brightness(0);
        }
      }

      .menuMobileOpenButton {
        &:before {
          display: none;
          content: "X";
          font-size: 30px;
          width: 100%;
          height: 30px;
          color: #ef6b00;
          position: absolute;
          align-items: center;
          display: flex;
          justify-content: center;
          z-index: 1;
        }

        &:after {
          content: '';
          position: absolute;
          background-color: #fcbd24;
          right: 0;
          bottom: -5px;
          left: 0;
          top: 0;
          transition: ease-in-out .2s;
          display: block;
          transform: translate(0, -5px);
        }
      }

    }

    .menu {
      transition: all 1s ease;
      transform: translate(-122%,0);
      max-width: 70%;
      width: 100%;
      height: 92%;
      background: #eaeaea;
      z-index: 999;
      top: 0;
      position: fixed;
      list-style: none;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: scroll;
      justify-content: unset;

      >*+* {
        margin-left: 0px;
      }      

      .categories{
        padding-left: 10px;
        padding-top: 15px;
        border-bottom: 1px dashed black;

        span{
          border-bottom: 1px dashed black; 
        }
      }

      .subMenu {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 15px;
        background-color: #eaeaea;
        padding: 10px;
        width: 120px;
        top: 26px;
        z-index: 1;
        box-shadow: none;
        position: unset;

        li:hover a {
          color: #ef6b00 !important;
        }        
      }

    }

    .menu.menuMobileOpenButton {
      transform: translate(-22%,0);
    }

    .search {
      position: absolute;
      left: 0%;
      top: 60%;
      z-index: -1;
      transition: all ease-in-out .5s;
  
      input {
        position: relative;
        height: 33px;
        width: 360px;
        border: 1px solid gray;
  
        &:focus-visible{
          border-inline: none;
        }
  
      }
  
      button {
        position: absolute;
        width: 40px;
        background-color: white;
        border: none;
        right: 0;
        top: 1px;
      }
    }
  
    .search.show{
      z-index: 0;
      top: 100%;
    }

  }

}
