.product {
  font-size: 12px;
  color: #949393;
  text-align: center;
  position: relative;

  >*+* {
    margin-top: 10px;
  }

  &:hover .buyButton {
    display: unset;
  }

  &:hover .icons {
    display: flex;
  }

  .icons {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 80%;
    top: 40%;
  }

  .icons img {
    background-color: white;
    border-radius: 50px;
    width: 40px;
    padding: 10px;
    margin-top: 10px;
  }

  .price {
    display: flex;
    justify-content: center;
    color: black;

    .discount {
      padding-left: 10px;
      text-decoration: line-through;
      color: #949393;
    }
  }

}

@media screen and (max-width: 767px) {
  .product {
    .icons {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 65%;
      top: 42%;

      img {
        background-color: white;
        border-radius: 50px;
        width: 40px;
        padding: 10px;
        margin-top: 0px;
      }  

    }
  }
}